
body{
    font-family: Arial;
}

.header .title{
    color:white;
    font-weight: bold;

}

.header {
    background-image: url("../images/map_background.png");
    "background-clip: border-box;"
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    padding:1.5em;
}

.header .subtitle {
    color:white;
    font-size: 1.8em;
}

.presGen{
    background:white;
}

.presGen .avis{
    font-weight: bold;
    padding-top:1em;
    padding-bottom:0.3em;
}

.noteGlobale{
    font-size:1.3em
}